<%- include ('partials/html-head'); -%>
  <%- include ('partials/header-nav', { currentMenu: 'dashboard' }) %>

    <section id="rmr-contents" class="mt-4">
      <div class="container">
        <div class="row flex-md-column flex-lg-row">
          <div class="left-filter col col-lg-3">
            <div class="card">
              <article class="card-group-item">
                <header class="card-header">
                  <h6 class="title">Brands </h6>
                </header>
                <div class="filter-content">
                  <div class="card-body">
                    <form>
                      <label class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-label">Mersedes Benz</span>
                      </label>
                      <label class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-label">Nissan Altima</span>
                      </label>
                      <label class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-label">Another Brand</span>
                      </label>
                    </form>

                  </div>
                </div>
              </article>
              <article class="card-group-item">
                <header class="card-header">
                  <h6 class="title">Choose type </h6>
                </header>
                <div class="filter-content">
                  <div class="card-body">
                    <label class="form-check">
                      <input class="form-check-input" type="radio" name="exampleRadio" value="">
                      <span class="form-check-label">
                        First hand items
                      </span>
                    </label>
                    <label class="form-check">
                      <input class="form-check-input" type="radio" name="exampleRadio" value="">
                      <span class="form-check-label">
                        Brand new items
                      </span>
                    </label>
                    <label class="form-check">
                      <input class="form-check-input" type="radio" name="exampleRadio" value="">
                      <span class="form-check-label">
                        Some other option
                      </span>
                    </label>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <ul class="right-contents col-12 col-xl-9 g-0">
            <% cars.forEach(car=> { %>
              <li class="card mb-3 mt-2 p-1">
                <div class="row g-0 justify-content-between p-1">
                  <div class="col-auto col-lg-4 image">
                    <img src="<%= car.image_url %>" alt="cars">
                  </div>
                  <article class="col-auto col-lg-8 mb-1 mt-2 mt-lg-0">
                    <div class="card-body-top px-2 g-0 row justify-content-center flex-column">
                      <div class="card-title g-0 p-2 col d-flex justify-content-between align-items-baseline">
                        <b class="card-title-username">
                          <%= car.user.username %>
                        </b>
                        <b class="card-title-created-at">
                          <%= new Date(car.created_at).getMonth() + 1 %>/
                            <%= new Date(car.created_at).getDate() %>/
                              <%= new Date(car.created_at).getFullYear() %>
                        </b>
                        <a href="/dashboard/edit/<%= car.id %>" class="post-edit">Edit</a>
                      </div>
                      <div class="car-detail col row">
                        <ul class="col-4 car-detail-left">
                          <li class="car-make">Make: <%= car.make %>
                          </li>
                          <li class="car-model">Model: <%= car.model %>
                          </li>
                          <li class="car-year">Year: <%= car.year %>
                          </li>
                          <li class="car-color">Color: <%= car.color %>
                          </li>
                        </ul>
                        <div class="car-detail-right col-8">
                          <b>Description:</b>
                          <p class="car-description">
                            <%= car.description %>
                          </p>
                        </div>
                      </div>
                    </div>
                    <% car.comments.forEach(comment=> { %>
                      <div class="comment-div p-2 m-2">
                        <p class="comments">
                          <%= comment.comment_text %>
                        </p>
                        <div class="d-flex justify-content-between">
                          <span class="username">
                            <%= comment.user.username %>
                          </span>
                          <span class="created-at">Last updated 3 mins ago</span>
                        </div>
                      </div>
                      <% }) %>
                        <form class="comment-form row g-0 mx-2 justify-content-between">
                          <div class="col-12 col-lg-9">
                            <input type="text" class="form-control" id="new-comment">
                          </div>
                          <div class="col-12 col-lg-3 my-2 my-lg-0">
                            <button type="submit" class="btn">Comment!</button>
                          </div>
                        </form>
                  </article>
                </div>
              </li>
              <% }) %>
          </ul>
        </div>
      </div>
    </section>
    <script src="/js/logout.js"></script>
    <%- include ('partials/footer.ejs'); -%>