<%- include ('partials/html-head'); -%>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="/">Rate My Ride</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <% if(loggedIn) {%>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/new-post">Post</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Log out</a>
              </li>
              <% } else { %>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <% } %>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>
  <section class="container" id="home-cards">
    <div class="row justify-content-center align-content-center">
      <div class="card col-auto col-lg-5 m-3 m-xl-4">
        <img src="<%- cars[0].image_url %>" class="card-img-top mt-2" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= cars[0].user.username %>'s <%= cars[0].year %> <%= cars[0].make %> <%= cars[0].model %>  </h5>
          <p class="card-text"><%= cars[0].description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="/car/<%- cars[0].id %> "><%= cars[0].comments[0].comment_text %> - <%= cars[0].comments[0].user.username %>  </a>
          </li>
          <li class="list-group-item">
            <a href="#"><%= cars[0].comments[1].comment_text %> - <%= cars[0].comments[1].user.username %>  </a>
          </li>
        </ul>
      </div>
      <div class="card col-auto col-lg-5 m-3 m-xl-4">
        <img src="<%- cars[1].image_url %>" class="card-img-top mt-2" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= cars[1].user.username %>'s <%= cars[1].year %> <%= cars[1].make %> <%= cars[1].model %>  </h5>
          <p class="card-text"><%= cars[1].description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="#"><%= cars[1].comments[0].comment_text %> - <%= cars[1].comments[0].user.username %></a>
          </li>
          <li class="list-group-item">
            <a href="#"><%= cars[1].comments[1].comment_text %> - <%= cars[1].comments[1].user.username %></a>
          </li>
        </ul>
      </div>
      <div class="card col-auto col-lg-5 m-3 m-xl-4">
        <img src="<%- cars[2].image_url %>" class="card-img-top mt-2" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= cars[2].user.username %>'s <%= cars[2].year %> <%= cars[2].make %> <%= cars[2].model %>  </h5>
          <p class="card-text"><%= cars[2].description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="#"><%= cars[2].comments[0].comment_text %> - <%= cars[2].comments[0].user.username %></a>
          </li>
          <li class="list-group-item">
            <a href="#"><%= cars[2].comments[1].comment_text %> - <%= cars[2].comments[1].user.username %></a>
          </li>
        </ul>
      </div>
      <div class="card col-auto col-lg-5 m-3 m-xl-4">
        <img src="<%- cars[3].image_url %>" class="card-img-top mt-2" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= cars[3].user.username %>'s <%= cars[3].year %> <%= cars[3].make %> <%= cars[3].model %>  </h5>
          <p class="card-text"><%= cars[3].description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="#"><%= cars[3].comments[0].comment_text %> - <%= cars[3].comments[0].user.username %></a>
          </li>
          <li class="list-group-item">
            <a href="#"><%= cars[3].comments[1].comment_text %> - <%= cars[3].comments[1].user.username %></a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <%- include ('partials/footer.ejs'); -%>